


<center><h1>Bienvenue sur ta page profil <%= @user.first_name %></h1></center>


    <div class="card">
      <div class="card-body">
      <h5 class="card-title"><%= @user.last_name %></h5>
      <h6 class="card-title"><%= @user.first_name %></h6>
      <p> <h8 class="card-title"><%= @user.email %></h8> </p>  
      <p class="card-text"> <%=@user.description %></p>
     <br>
      <%if @user.profile_picture.attached?%>
        <%= image_tag @user.profile_picture, alt: 'profile_picture' %>
      <%else%>
        <img src = "/blank_pp_resize.png" alt = profile_picture" title = "photo de profil générique"  />
      <%end%>
        <br> <br>
        <!-- #On rajoute juste la condition sur les boutons car sinon, un admin du site pourrait appuyer dessus et se retrouver à 
        #modifier son propre profil alors qu'il pense changer celui de quelqu'un d'autre. Mais pas d'impact sur l'utilisateur lambda qui regarde son propre profil -->
        <% if current_user == @user %>
          <a href="<%= edit_user_registration_path %>" class="btn btn-warning">Changer mes informations de connection</a>
          <a href="<%= edit_user_registration_path %>" class="btn btn-primary">Ajouter une photo de profil</a>
        <%else%>  
        <%end%>
      </div>
    </div>

    <%unless @user_events == [] %>
    <br><br>
    <center><h2> Voici les événements que tu as crées: </h2>
    <br>
    <%end%>

    <% @user_events.each do |event| %>
    <div class="card text-center">
      
      <div class="card-body">
        <h5 class="card-title"><%= event.title%></h5>
        <p class="card-text"><%= event.description%></p>
        <a href="<%= event_path(event.id)%>" class="btn btn-primary">Voir l'evénement</a>
      </div>
      <div class="card-footer text-muted">
        <!-- 2 days ago -->
      </div>
    </div>
    <%end%>

