<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>


      <% if @event.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p>La modifications n'a pu aboutir pour les raisons suivantes :</p>
        </div>
        <div class="alert alert-warning" role="alert">
        <ul>
          <% @event.errors.full_messages.each do |message| %>
          <p> <%= message %> </p>
          <% end %>
        </ul>
        </div>
    <% end %>
      

      <%= form_tag url_for(action:'update'), method: "patch" do %>
        <h1 class="h3 mb-3 font-weight-normal text-center ">Modifier un événement</h1>
        <div class="form-group">

        <%= label_tag 'Date de début:' %><br>
        <%= text_field_tag 'start_date', "", class:"form-control" %><br><br>

        <%= label_tag 'Durée (multiple de 5 stp) :' %><br>
        <%= text_field_tag 'duration', "" ,class:"form-control"%><br><br>

        <%= label_tag 'Titre :' %><br>
        <%= text_field_tag 'title', "",class:"form-control"%><br><br>

        <%= label_tag 'Description :' %><br>
        <%= text_area_tag 'description',"" ,class:"form-control"%><br><br>

        <%= label_tag 'Prix :' %><br>
        <%= text_field_tag 'price',"" ,class:"form-control"%><br><br>

        <%= label_tag 'Ville :' %><br>
        <%= text_field_tag 'location',"" ,class:"form-control"%><br>
        
        <div class="actions mt-5">
        <%= submit_tag 'Enregistrer les modifications', class: "btn btn-lg btn-primary btn-block"%>
        </div>

        <%end%>

        <br>
        <a href="<%= event_path(@event.id) %>" class="btn btn-danger btn-lg btn-block" data-confirm="êtes-vous sur?" data-method="DELETE">Supprimer l'événement</a>

   
    </div>
  </div>
</div>      
