<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>


      <% if @event.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <p>La modification n'a pu aboutir pour les raisons suivantes :</p>
        </div>
        <div class="alert alert-warning" role="alert">
        <ul>
          <% @event.errors.full_messages.each do |message| %>
          <p> <%= message %> </p>
          <% end %>
        </ul>
        </div>
    <% end %>
      
    <h1 class="h3 mb-3 font-weight-normal text-center ">Modifier un événement</h1>

    <%= form_for @event do |ƒ| %>

      <div class="form-group">
      <label> Date de début </label>
      <%= ƒ.text_field :start_date, class: 'form-control' %>
      </div>

      <div class="form-group">
      <label> Durée </label>
      <%= ƒ.text_field :duration, class: 'form-control' %>
      </div>

      <div class="form-group">
      <label> Titre </label>
      <%= ƒ.text_field :title, class: 'form-control' %>
      </div>

      <div  class="form-group">
      <label>Description de l'événement</label>
      <%= ƒ.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
      <label> Prix </label>
      <%= ƒ.text_field :price, class: 'form-control' %>
      </div>
    
      <div class="form-group">
      <label> Ville </label>
      <%= ƒ.text_field :location, class: 'form-control' %>
      </div>
    
      <div class="actions mt-5">
      <%= submit_tag 'Enregistrer les modifications', class: "btn btn-lg btn-primary btn-block"%>
      </div>

      <%end%>
      
    
      
        <br>
        <a href="<%= event_path(@event.id) %>" class="btn btn-danger btn-lg btn-block" data-confirm="êtes-vous sur?" data-method="DELETE">Supprimer l'événement</a>

   
    </div>
  </div>
</div>      
