

<br><br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <center><h1>Description de l'événement</h1></center>
      <br><br>


            <ul class="list-group">
              <li class="list-group-item active"> <%= @event.title %> </li>
              <li class="list-group-item"><%= @event.description %></li>
              <li class="list-group-item"><%= @event.attendances.size %> participant(s)</li>
              <li class="list-group-item">Contacter l'organisateur: <%= @event.admin.email %></li>
              <li class="list-group-item">Début de l'événement: <%= @event.start_date %></li>
              <li class="list-group-item">Fin de l'événement: <%= @end_date%></li>
              <li class="list-group-item">Lieu: <%= @event.location %></li>
              <li class="list-group-item">Prix: <%= @event.price %>€</li>
           

              <!-- #On fait deux cas: il y a déjà une image présente ou il n'y a pas d'image et dans les deux cas, -->
           <!-- #on vérifie que la personne est bien l'admin de l'event avant de l'autoriser à changer quoi que ce soit -->
              <%if @event.event_picture.attached?%>
                <%if @not_admin == false %>
                  <center><li class="list-group-item"><%= image_tag @event.event_picture, alt: 'event_picture' %></center> <br><br>              </li>
                  <h5>Changer d'image ?</h5>
                    <%= form_tag  event_event_pictures_path(@event.id), multipart: true do %>
                      <%= file_field_tag :event_picture%>
                      <%= submit_tag "mettre à jour",class: "btn btn-sm btn-primary" %>
                    <% end %>
                <%end%>    
              <%elsif %>
                <%if @not_admin == false %>  
                  <li class="list-group-item">Il n'y a pas encore d'image liée à cet événement</li>
                  <h3>Ajouter une image ?</h3>
                  <%= form_tag  event_event_pictures_path(@event.id), multipart: true do %>
                    <%= file_field_tag :event_picture %>
                    <%= submit_tag "enregistrer" %>
                  <% end %>
                <%end%>  
              
              <%end%>
            </ul>



            <br><br>
            <!-- #On ne veut pas que quelqu'un qui participe déjà l'événement ou qui l'organise puisse voir le bouton pour participer -->
            
            <%if @not_admin && @not_participant %>
            
            <!-- On renvoie vers le controller stripe qui va s'occuper du paiement -->
            <a type="button" href="<%= new_event_charge_path(@event.id) %>" class="btn btn-primary btn-lg btn-block">Participer à l'événement</a>

            <%elsif @not_admin == false %>
            <!-- #Seul l'administrateur peut accéder à l'espace évenement -->
            <a type="button" href="<%=event_attendances_path(@event.id) %>" class="btn btn-secondary btn-lg btn-block">Mon espace événement</a>


            <%end%>


           
           <br>
       

    </div>
  </div>
</div>     