

<br><br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <center><h1>Description de l'événement</h1></center>
      <br><br>


            <ul class="list-group">
              <li class="list-group-item active"> <%= @event.title %> </li>
              <li class="list-group-item">Description: <%= @event.description %></li>
              <li class="list-group-item"><%= @event.attendances.size %> participant(s)</li>
              <li class="list-group-item">Contacter l'organisateur: <%= @event.admin.email %></li>
              <li class="list-group-item">Début de l'événement: <%= @event.start_date %></li>
              <li class="list-group-item">Fin de l'événement: <%= @end_date%></li>
              <li class="list-group-item">Lieu: <%= @event.location %></li>
              <li class="list-group-item">Prix: <%= @event.price %>€</li>
            </ul>


            <br><br>
            <!-- #On ne veut pas que quelqu'un qui participe déjà l'événement ou qui l'organise puisse voir le bouton pour participer -->
             <%if current_user != @event.admin && @np %>
            
            <a type="button" href="<%= new_attendance_path %>" class="btn btn-primary btn-lg btn-block">Participer à l'événement</a>

            <%end%>
           
           <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/o5c7WFyyJFc?start=2222" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       

    </div>
  </div>
</div>     