

<br><br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <center><h1>Description de l'événement</h1></center>
      <br><br>


            <ul class="list-group">
              <li class="list-group-item active"> <%= @event.title %> </li>
              <li class="list-group-item"><%= @event.description %></li>
              <li class="list-group-item"><%= @event.attendances.size %> participant(s)</li>
              <li class="list-group-item">Contacter l'organisateur: <%= @event.admin.email %></li>
              <li class="list-group-item">Début de l'événement: <%= @event.start_date %></li>
              <li class="list-group-item">Fin de l'événement: <%= @end_date%></li>
              <li class="list-group-item">Lieu: <%= @event.location %></li>
              <li class="list-group-item">Prix: <%= @event.price %>€</li>
            </ul>


            <br><br>
            <!-- #On ne veut pas que quelqu'un qui participe déjà l'événement ou qui l'organise puisse voir le bouton pour participer -->
            
            <%if @not_admin && @not_participant %>
            
            <!-- On renvoie vers le controller stripe qui va s'occuper du paiement -->
            <a type="button" href="<%= new_event_charge_path(@event.id) %>" class="btn btn-primary btn-lg btn-block">Participer à l'événement</a>

            <%elsif @not_admin == false %>
            <!-- #Seul l'administrateur peut accéder à l'espace évenement -->
            <a type="button" href="<%=event_attendances_path(@event.id) %>" class="btn btn-secondary btn-lg btn-block">Mon espace événement</a>


            <%end%>


           
           <br>
       

    </div>
  </div>
</div>     